% SPDX-FileCopyrightText: 2025 Łukasz Niemier <#@hauleth.dev>
%
% SPDX-License-Identifier: Apache-2.0

{erl_opts, [debug_info]}.
{deps, []}.

{profiles, [
    {test, [{erl_opts, [nowarn_export_all]}]}
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {main, "README.md"},
    {extras, [
        "README.md",
        "CHANGELOG.md",
        {"LICENSES/Apache-2.0.txt", #{title => "Apache 2.0 License"}}
    ]},
    {groups_for_extras, [
        {"Licenses", [<<"LICENSES/Apache-2.0.txt">>]}
    ]}
]}.

{erlfmt, [write]}.

{project_plugins, [
    rebar3_ex_doc,
    erlfmt,
    covertool
]}.
